/.Xkeymap
/.Xresources
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bashrc.local
/.cache
/.config
/.emacs
/.lesshst
/.local
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/public
private/P3/wsh
private/P3/.__afsE7F3
.python_history
/private/HW6
private/P4/xv6-public/runtests.log
private/P6/starter-code/runtests
private/P6/starter-code/start.py
private/P7/mount.wfs
private/P7/disk
private/P7/fsck.wfs
private/P7/mkfs.wfs
private/P7/mnt
