/.Xkeymap
/.Xresources
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.bashrc.local
/.cache
/.config
/.emacs
/.lesshst
/.local
/.ssh
/.vscode
/.vscode-server
/.wget-hsts
/public
private/P3/wsh
private/P3/.__afsE7F3
.python_history
/private/HW6
private/P4/xv6-public/runtests.log
